  <mat-sidenav-container class="taskCreator">
    <mat-toolbar class="app-color-secondary-900" fxLayout="row" fxLayoutAlign="space-between center">
      Tasks
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>add</mat-icon>
        Create Task
      </button>
    </mat-toolbar>
    <mat-sidenav #sidenav disableClose="true" position="end" mode="over" opened="false">
      <app-create-task (eventOutput)="eventListener($event)"></app-create-task>
    </mat-sidenav>
    <mat-sidenav #editSidenav disableClose="true" position="start" mode="over" opened="false">
      <app-edit-task *ngIf="selectedTask!==null" [task]="selectedTask" (eventOutput)="eventListener($event)">
      </app-edit-task>
    </mat-sidenav>

    <div *ngIf="myTasks.length<1 && otherTasks.length<1">
      No tasks! Create one.
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" class="taskLists">

      <div *ngIf="myTasks.length>0" fxFlex="50">
        <h1>Tasks</h1>
        <mat-nav-list>
          <mat-list-item *ngFor="let task of myTasks">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="60">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex (click)="onTaskClick(task)">
                <mat-icon>folder</mat-icon>
                {{task.subject}}
              </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onTaskClick(task)">
                    <mat-icon>remove_red_eye</mat-icon>
                    <span>View</span>
                  </button>
                  <button mat-menu-item (click)="onEdit(task)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="onDelete(task)">
                    <mat-icon>delete</mat-icon>
                    <span>Remove</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div *ngIf="otherTasks.length>0" fxFlex="50">
        <h1>Other Tasks</h1>
        <mat-nav-list>
          <mat-list-item *ngFor="let task of otherTasks">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" (click)="onOtherTaskClick(task)">
              <mat-icon>folder</mat-icon>
              {{task.subject}}
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>

  </mat-sidenav-container>
