<mat-toolbar class="app-color-primary-900">
  <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sideNav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Project Manager</span>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <div fxFlex fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="space-between center">
          <img class="toolbar_avatar" [src]="user.avatar || 'assets/images/default-profile.png'" />
          <span class="username mr-12">{{ user.display_name }}</span>
        </div>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onProfile()">
          <mat-icon>people</mat-icon>Profile
        </button>
        <button mat-menu-item (click)="changePass()">
          <mat-icon>settings</mat-icon>Change Password
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_off</mat-icon>Logout
        </button>
      </mat-menu>
      <!--  <button mat-button matTooltip="Logout" (click)="logout()">
        <mat-icon>power_off</mat-icon>Logout
      </button> -->
    </div>
  </div>
</mat-toolbar>
