<div *ngIf="!isEditable">
  <mat-toolbar class="app-color-primary-500" fxLayout="row" fxLayoutAlign="space-between center">
    {{task.subject}}
    <div>
      <button *ngIf="task.created_by===userID" mat-icon-button matTooltip="Edit" (click)="isEditable=true">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Close" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="addTaskForm">
    <br />
    <div fxLayout="column" fxLayoutGap="20px">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" class="mat-elevation-z6">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Task Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="line-height: 30px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-label class="secondary-text">Project: </mat-label>
              <mat-label *ngIf="project">{{project.name}}</mat-label>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-label class="secondary-text">Start Date:</mat-label>
              <mat-label>{{task.start_date | date:'mediumDate'}}</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-label class="secondary-text">End Date:</mat-label>
              <mat-label>{{task.end_date | date:'mediumDate'}}</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-label class="secondary-text">Priority:</mat-label>
              <mat-label>{{task.priority}}</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-label class="secondary-text">Status:</mat-label>
              <mat-label>{{task.status}}</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-label class="secondary-text">Description:</mat-label>
              <mat-label>{{task.description}}</mat-label>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="true" class="mat-elevation-z6">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Task Members
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span *ngIf="members.length<1"><i>No members in this project</i></span>
          <mat-nav-list>
            <mat-list-item *ngFor="let member of members">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex (click)="onMemberClick(member)">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex>
                  <img class="avatarImg" [src]="member.avatar || 'assets/images/default-profile.png'" />
                  {{member.display_name}}({{member.email}})
                </div>
                <div>
                </div>
              </div>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>

      <br />
      <!--       <mat-label class="secondary-text">Members</mat-label>
      <mat-chip-list>
        <mat-chip *ngFor="let member of membersFullObject">
          {{member.display_name}}
        </mat-chip>
      </mat-chip-list> -->
    </div>
  </div>
</div>

<div *ngIf="isEditable">
  <mat-toolbar class="app-color-primary-500" fxLayout="row" fxLayoutAlign="space-between center">
    Edit Task
    <div>
      <button mat-icon-button matTooltip="Close" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="addTaskForm">
    <br />
    <div fxLayout="column" style="padding:10px">
      <div fxLayout="column" *ngIf="task.project_id">
        <mat-form-field>
          <mat-label>Subject</mat-label>
          <input matInput type="text" [(ngModel)]="task.subject" required>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="task.start_date" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="task.end_date" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="45">
            <mat-label>Priority</mat-label>
            <mat-select [compareWith]="compareObjects" [(ngModel)]="task.priority">
              <mat-option *ngFor="let priority of priorities" [value]="priority">
                {{priority}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="45">
            <mat-label>Progress Status</mat-label>
            <mat-select [compareWith]="compareObjects" [(ngModel)]="task.status">
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Assigned To:</mat-label>
          <mat-select [(ngModel)]="members" multiple>
            <mat-option *ngFor="let member of collaborators" [value]="member.id">
              {{member.display_name}}({{member.email}})</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput type="text" [(ngModel)]="task.description"></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="onEdit()" [disabled]="task.subject===''">
          Save Modifications
        </button>
      </div>

    </div>
  </div>
</div>
