<div *ngIf="!isEditable">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    {{project.name}}
    <div>
      <button *ngIf="project.created_by_id===userID" mat-icon-button matTooltip="Edit" (click)="isEditable=true">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Close" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="addProjectForm">
    <br />
    <div fxLayout="column" fxLayoutGap="20px">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" class="mat-elevation-z6">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Project Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label class="secondary-text">Project Owner:</mat-label>
            <mat-label *ngIf="projectOwner">{{projectOwner.display_name}}</mat-label>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label class="secondary-text">Start Date:</mat-label>
            <mat-label>{{project.start_date | date:'mediumDate'}}</mat-label>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label class="secondary-text">End Date:</mat-label>
            <mat-label>{{project.end_date | date:'mediumDate'}}</mat-label>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label class="secondary-text">Description:</mat-label>
            <mat-label>{{project.description}}</mat-label>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="true" class="mat-elevation-z6">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Project Members
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span *ngIf="membersFullObject.length<1"><i>No members in this project</i></span>
          <mat-nav-list>
            <mat-list-item *ngFor="let member of membersFullObject">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex (click)="onMemberClick(member)">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex>
                  <img class="avatarImg" [src]="member.avatar || 'assets/images/default-profile.png'" />
                  {{member.display_name}}({{member.email}})
                </div>
                <div>
                </div>
              </div>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="true" class="mat-elevation-z6">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center" (click)="addTask()">
              <span>Tasks</span>
              <button class="app-color-secondary-500" mat-button>
                <mat-icon>add</mat-icon>
                Add task
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span *ngIf="tasks.length<1"><i>No tasks created for this project</i></span>
          <mat-nav-list>
            <mat-list-item *ngFor="let task of tasks">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex (click)="onTaskClick(task)">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex>
                  {{task.subject}}
                </div>
                <div>
                </div>
              </div>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>

    </div>
  </div>
</div>

<div *ngIf="isEditable">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    Edit Project
    <div>
      <button mat-icon-button matTooltip="Close" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="addProjectForm">
    <br />
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="project.name">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="project.start_date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="project.end_date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Members</mat-label>
        <mat-select [compareWith]="compareObjects" [(ngModel)]="members" multiple>
          <mat-option *ngFor="let collab of collaborators" [value]="collab.collab_id">
            {{collab.display_name}}({{collab.email}})</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [(ngModel)]="project.description"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="onEdit()" [disabled]="project.name===''">
        Save Modifications
      </button>
    </div>
  </div>
</div>
