<mat-toolbar class="app-color-secondary-50">
  <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
    <div>Existing projects</div>
    <button mat-icon-button [matTooltip]="'Add new filter'">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [position]="'end'"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <app-project-detail [selectedItem]="selectedRow"></app-project-detail>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->

    <app-project-list (sendAction)="listActions($event)"></app-project-list>
  </mat-sidenav-content>
</mat-sidenav-container>
