<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
  <img class="avatar" [src]="userProfile.avatar || imageSrc" />
  <h1>{{userProfile.display_name}}</h1>
</div>
<!-- <input type="file" (change)="fileOpen($event)"> -->
<span>Email: {{userProfile.email}}</span>
<br />
<span>Phone: {{userProfile.phone | mask:'(0000) 000-0000'}}</span>
<div mat-dialog-actions align="end">
  <!-- <button mat-button (click)="onSave()">Save</button> -->
  <button mat-button (click)="onBtnClick('close')" cdkFocusInitial>close</button>
</div>
