<mat-card class="resetPassForm">
  <mat-card-title>Reset Password</mat-card-title>
  <form [formGroup]="resetPassForm" fxLayout="column">

    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput formControlName="password" minlength="6" [type]="hide ? 'text' : 'password'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="resetPassForm.hasError('required', 'password')">
        Password required!
      </mat-error>
      <mat-error *ngIf="resetPassForm.hasError('minlength', 'password') ">
        Password must have at least 6 characters !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="repeat_password" [errorStateMatcher]="matcher"
        [type]="hide_repeated ? 'text' : 'password'" required>
      <mat-icon matSuffix (click)="hide_repeated = !hide_repeated">{{hide_repeated ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="resetPassForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="onResetPass()" [disabled]="resetPassForm.invalid">
      Reset Password
    </button>
  </form>
</mat-card>
