$custom-white: (500: white,
  contrast: (500: $dark-primary-text,
  ),
);

$custom-black: (500: black,
  contrast: (500: $light-primary-text,
  ),
);

$app-color-primary: (50 : #eaf5f8,
  100 : #cbe7ec,
  200 : #a8d7e0,
  300 : #85c7d4,
  400 : #6abbca,
  500 : #50afc1,
  600 : #49a8bb,
  700 : #409fb3,
  800 : #3796ab,
  900 : #27869e,
  A100 : #def8ff,
  A200 : #abedff,
  A400 : #78e2ff,
  A700 : #5edcff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
$app-color-secondary: (50 : #e5f4f3,
  100 : #bee4e1,
  200 : #93d3cd,
  300 : #67c1b8,
  400 : #47b3a9,
  500 : #26a69a,
  600 : #229e92,
  700 : #1c9588,
  800 : #178b7e,
  900 : #0d7b6c,
  A100 : #adfff3,
  A200 : #7affec,
  A400 : #47ffe4,
  A700 : #50afc1,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
$app-color-warn: (50 : #fcf7e7,
  100 : #f7eac2,
  200 : #f2dc9a,
  300 : #c2f058,
  400 : #e9c452,
  500 : #e5b934,
  600 : #e2b22f,
  700 : #deaa27,
  800 : #daa221,
  900 : #d39315,
  A100 : #ffffff,
  A200 : #ffeed0,
  A400 : #ffdb9d,
  A700 : #ffd284,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000));
