$custom-white: (500: white,
  contrast: (500: $dark-primary-text,
  ),
);

$custom-black: (500: black,
  contrast: (500: $light-primary-text,
  ),
);

$app-color-primary: (50 : #e9f0f1,
  100 : #c7d9dd,
  200 : #a2c0c7,
  300 : #7da7b0,
  400 : #61949f,
  500 : #45818e,
  600 : #3e7986,
  700 : #366e7b,
  800 : #2e6471,
  900 : #1f515f,
  A100 : #9fe9ff,
  A200 : #6cddff,
  A400 : #39d2ff,
  A700 : #1fccff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
$app-color-secondary: (50 : #f5f8f8,
  100 : #e6edee,
  200 : #d6e1e3,
  300 : #c5d5d8,
  400 : #b8cccf,
  500 : #acc3c7,
  600 : #a5bdc1,
  700 : #9bb5ba,
  800 : #92aeb3,
  900 : #82a1a6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #cdf7ff,
  A700 : #b3f3ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
$app-color-warn: (50 : #fcf7e7,
  100 : #f7eac2,
  200 : #f2dc9a,
  300 : #edce71,
  400 : #e9c452,
  500 : #e5b934,
  600 : #e2b22f,
  700 : #deaa27,
  800 : #daa221,
  900 : #d39315,
  A100 : #ffffff,
  A200 : #ffeed0,
  A400 : #ffdb9d,
  A700 : #ffd284,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000));
