$custom-white: (
  500: white,
  contrast: (
    500: $dark-primary-text,
  ),
);

$custom-black: (
  500: black,
  contrast: (
    500: $light-primary-text,
  ),
);

$app-color-primary: (
  50: #cad3dd,
  100: #b6c1ce,
  200: #a1afc0,
  300: #8c9db2,
  400: #778ca4,
  500: #627a96,
  600: #4d6888,
  700: #395679,
  800: #24456b,
  900: #0f335d,
  A100: #f4f6f9,
  A200: #dfe4eb,
  A400: #a1afc0,
  A700: #4d6888,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
$app-color-secondary: (
  50: #f2f6fc,
  100: #b0d2f1,
  200: #9ac6ed,
  300: #84baea,
  400: #6eafe6,
  500: #58a3e3,
  600: #4297df,
  700: #2c8bdb,
  800: #167fd8,
  900: #0073d4,
  A100: #c6def5,
  A200: #dceaf8,
  A400: #1780d8,
  A700: #0073d4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
$app-color-warn: (
  50: #fbeded,
  100: #f7dcdc,
  200: #f0b8b8,
  300: #eca6a6,
  400: #e89595,
  500: #e48383,
  600: #e07171,
  700: #dd5f5f,
  800: #d94e4e,
  900: #d53c3c,
  A100: #dbdae7,
  A200: #dbcad6,
  A400: #d65c5e,
  A700: #ae4658,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
