<mat-card class="forgotPassForm">
  <mat-card-title>Forgot Password</mat-card-title>
  <form [formGroup]="forgotPassForm" fxLayout="column">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="forgotPassForm.get('email').hasError('required')">
        Email is
        <strong>Required</strong>!
      </mat-error>
      <mat-error *ngIf="forgotPassForm.get('email').hasError('email')">
        Email is not valid!
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="onResetPass()" [disabled]="forgotPassForm.invalid">
      Reset Password
    </button>
    <br />
    <span>Already have an account? <a class="link" [routerLink]="'/auth'"><strong>Login</strong></a></span>
    <span>Don't have an account? <a class="link" [routerLink]="'/auth/register'"><strong>Register</strong></a></span>
  </form>
</mat-card>
