<mat-nav-list>
  <mat-list-item *ngIf="projects?.length < 1">
    {{ 'There are no Projects to be displayed' }}
  </mat-list-item>
  <mat-list-item *ngFor="let project of projects">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <div class="list-row" fxFlex (click)="loadDetail(project.id)">
        {{ project.projectName }}
      </div>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' }}</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete_outline</mat-icon>
            <span>{{ 'Delete' }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>
