<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav app-color-primary-A100"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar class="custom-white-500">Menu</mat-toolbar>
    <app-left-navigation></app-left-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-top-navigation [sideNav]="drawer"></app-top-navigation>
    <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading">
    </mat-progress-bar>
    <!-- Add Content Here -->
    <router-outlet *ngIf="true"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
