app-auth-layout {
  height: 100%;
  margin: 0;

  .authLayout {
    height: 100%;
    background-image: linear-gradient(to left top,
        #1f515f,
        #366b7b,
        #4e8698,
        #65a3b6,
        #7ec0d5,
        #87ccdf,
        #90d8e9,
        #99e4f3,
        #96e0e9,
        #94dce0,
        #93d7d6,
        #93d3cd);
  }
}

.formPanel {
  margin: auto;
}
