<mat-card class="loginScreen">
  <div fxFill fxLayout="row">

    <!-------------------------- Left side ------------------>
    <div class="logoForm" fxLayout="column" fxFlex="35" fxLayoutAlign="space-between center">
      <div>
        <img class="logoClass" src="assets/logos/app_logo.png" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start center">
        <a style="color:#1f515f;" [routerLink]="'/auth/register'"><strong>Register</strong></a>
        <a style="color:#1f515f;" [routerLink]="'/auth/forgot-password'"><strong>Forgot
            Password?</strong></a>
      </div>
    </div>

    <!-------------------------- Right side ------------------>
    <form class="loginForm mat-elevation-z4" fxFlex="65" [formGroup]="loginForm" fxLayout="column"
      fxLayoutAlign="space-between center">
      <br />
      <mat-card-title style="font-size: 300%;">Login</mat-card-title>
      <div fxLayout="column" style="width:350px">
        <mat-form-field fxFlex>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is
            <strong>Required</strong>!
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">
            Email is not valid!
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'text' : 'password'" minlength="6" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="loginForm.hasError('required', 'password')">
            Password required!
          </mat-error>
          <mat-error *ngIf="loginForm.hasError('minlength', 'password') ">
            Password must have at least 6 characters !
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout="end end">
        <button mat-raised-button class="app-color-primary-800" (click)="onLogin()" [disabled]="loginForm.invalid">
          Log in!
        </button>
      </div>
      <br />
    </form>
  </div>
</mat-card>
