<mat-card class="registerForm">
  <mat-card-title>Register</mat-card-title>
  <form [formGroup]="registerForm" fxLayout="column">

    <mat-form-field hintLabel="Your personal email address.">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" maxlength="30" required>
      <mat-error *ngIf="registerForm.get('email').hasError('required')">
        Email is
        <strong>Required</strong>!
      </mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('email')">
        Email is not valid!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input matInput formControlName="display_name" required>
      <mat-error *ngIf="registerForm.hasError('required', 'display_name')">
        Display name required!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" minlength="6" [type]="hide ? 'text' : 'password'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="registerForm.hasError('required', 'password')">
        Password required!
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', 'password') ">
        Password must have at least 6 characters !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="repeat_password" [errorStateMatcher]="matcher"
        [type]="hide_repeated ? 'text' : 'password'" required>
      <mat-icon matSuffix (click)="hide_repeated = !hide_repeated">{{hide_repeated ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="registerForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="onRegister()" [disabled]="registerForm.invalid">
      Register!
    </button>
    <br />
    <span>Already have an account? <a class="link" [routerLink]="'/auth'"><strong>Login</strong></a></span>
    <span>Forgot your Password? <a class="link" [routerLink]="'/auth/forgot-password'"><strong>Forgot
          Password</strong></a></span>
  </form>
</mat-card>
