<mat-toolbar class="app-color-secondary-500 mat-elevation-z4" fxLayout="row" fxLayoutGap="10px"
  fxLayoutAlign="start center">
  <mat-icon>home</mat-icon> <span>Dashboard</span>
</mat-toolbar>

<div class="container" fxLayout="column">
  <div fxLayout="row">
    <mat-card fxFlex class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Projects Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br />
        <div id="{{'elementId'}}" style="width: calc(100% - 20px);"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <br />
  <div fxLayout="row" fxFlex fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <mat-card class="listCard">
      <mat-card-header>
        <mat-card-title>Projects</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of projects">
            {{item.name}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="goTo('project')" mat-raised-button color="primary">View all Projects</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="listCard">
      <mat-card-header>
        <mat-card-title>Tasks</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of tasks">
            {{item.subject}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="goTo('task')" mat-raised-button color="primary">View all Tasks</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="listCard">
      <mat-card-header>
        <mat-card-title>Collaborators</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of collabs">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
              <img class="avatar2" [src]="item.avatar || 'assets/images/default-profile.png'" />
              {{item.display_name}}
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="goTo('collaborators')" mat-raised-button color="primary">View all Collaborators</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
