.addSideNav {
  width: 100%;
  height: calc(100vh - 64px);
}

table {
  width: 100%;
}

.searchField {
  padding-left: 30px;
  width: 400px !important;
}

.avatarImg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white
}
