<mat-sidenav-container class="addSideNav">
  <mat-toolbar class="app-color-secondary-500" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <mat-icon>people</mat-icon>
      <span>Collaborators</span>
    </div>
    <div>
      <mat-form-field class="searchField" floatLabel="never">
        <input matInput autocomplete="searchField" (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <button mat-button (click)="sidenav.open()">
        <mat-icon>add</mat-icon>
        Add Collaborator
      </button>
    </div>

  </mat-toolbar>
  <mat-sidenav #sidenav disableClose="true" position="end" mode="over" opened="false">
    <app-add-collaborator (eventOutput)="eventListener($event)">
    </app-add-collaborator>
  </mat-sidenav>

  <div *ngIf="collaborators.length<1">
    No collaborators! Add one.
  </div>

  <div *ngIf="collaborators.length>0" class="inner">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let row">
            <img class="avatarImg" [src]="row.avatar || 'assets/images/default-profile.png'" /></td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="display_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
          <td mat-cell *matCellDef="let row"> {{row.display_name}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="remove" (click)="deleteCollab(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</mat-sidenav-container>
