  <mat-sidenav-container class="projectCreator">
    <mat-toolbar class="app-color-secondary-900" fxLayout="row" fxLayoutAlign="space-between center">
      Projects
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>add</mat-icon>
        Create Project
      </button>
    </mat-toolbar>
    <mat-sidenav #sidenav disableClose="true" position="end" mode="over" opened="false">
      <app-create-project (eventOutput)="eventListener($event)"></app-create-project>
    </mat-sidenav>

    <div *ngIf="projects.length<1">
      No projects! Create one.
    </div>
  </mat-sidenav-container>
