  <mat-sidenav-container class="projectCreator">
    <mat-toolbar class="app-color-secondary-500" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>domain</mat-icon>
        <span>Projects</span>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">{{filterMenuText}}<mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [disabled]="filterMenuText==='All Projects'" (click)="filter('all')">All
              Projects</button>
            <button mat-menu-item [disabled]="filterMenuText==='My Projects'" (click)="filter('my')">My
              Projects</button>
            <button mat-menu-item [disabled]="filterMenuText==='Other Projects'" (click)="filter('other')">Other
              Projects</button>
          </mat-menu>
        </div>
      </div>
      <div>
        <mat-form-field class="searchField" floatLabel="never">
          <input matInput autocomplete="searchField" (keyup)="applyFilter($event.target.value)" placeholder="Search...">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>add</mat-icon>
          Create Project
        </button>
      </div>
    </mat-toolbar>

    <mat-sidenav #sidenav disableClose="true" position="start" mode="over" opened="false">
      <app-create-project (eventOutput)="eventListener($event)"></app-create-project>
    </mat-sidenav>
    <mat-sidenav #editSidenav disableClose="true" position="end" mode="side" opened="false">
      <app-edit-project [isEditable]="isEditable" *ngIf="selectedProject!==null" [project]="selectedProject"
        (eventOutput)="eventListener($event)"></app-edit-project>
    </mat-sidenav>

    <div *ngIf="allProjects.length<1">
      No projects! Create one.
    </div>

    <div *ngIf="allProjects.length>0" class="inner">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let row"> {{(row.start_date!== null) ? (row.start_date | date:'mediumDate') : ''}}
            </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="end_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let row">{{(row.end_date!== null) ? (row.end_date | date:'mediumDate') : ''}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell (click)="$event.stopPropagation()" *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actionMenu="matMenu">
                <button mat-menu-item (click)="onProjectClick(row)">
                  <mat-icon>remove_red_eye</mat-icon>
                  <span>View</span>
                </button>
                <button [disabled]="row.created_by_id !== userID" mat-menu-item (click)="onEdit(row)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="addTask(row)">
                  <mat-icon>add</mat-icon>
                  <span>Add Task</span>
                </button>
                <mat-divider></mat-divider>
                <button [disabled]="row.created_by_id !== userID" mat-menu-item (click)="onDelete(row)">
                  <mat-icon>delete</mat-icon>
                  <span>Remove</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'app-color-primary': selectedProject && selectedProject.id === row.id}" class="rowHover"
            (click)="onProjectClick(row)">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-sidenav-container>
