<mat-nav-list>
  <a mat-list-item [routerLink]="'/home'"  [routerLinkActive]="'active'">
    <mat-icon>home</mat-icon> Home
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item [routerLink]="'/collaborators'" [routerLinkActive]="'active'">
    <mat-icon>people</mat-icon> Collaborators
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item [routerLink]="'/project'" [routerLinkActive]="'active'">
    <mat-icon>domain</mat-icon> Projects
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item [routerLink]="'/task'" [routerLinkActive]="'active'">
    <mat-icon>dashboard</mat-icon> Tasks
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item [routerLink]="'/communication'" [routerLinkActive]="'active'">
    <mat-icon>chat_bubble</mat-icon> Chat
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
