<mat-nav-list>
  <a mat-list-item [routerLink]="'/'">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item [routerLink]="'/collaborators'">
    <mat-icon>people</mat-icon>Collaborators
  </a>
  <a mat-list-item [routerLink]="'/project'">
    <mat-icon>domain</mat-icon>Projects
  </a>
  <a mat-list-item [routerLink]="'/task'">
    <mat-icon>dashboard</mat-icon>Tasks
  </a>
  <a mat-list-item [routerLink]="'/communication'">
    <mat-icon>chat_bubble</mat-icon>Communication
  </a>


</mat-nav-list>
