<mat-nav-list>
  <a mat-list-item [routerLink]="'/'">Dashboard</a>
  <a mat-list-item [routerLink]="'testarea/form'">Form</a>
  <a mat-list-item [routerLink]="'testarea/table'">Table</a
  ><a mat-list-item [routerLink]="'testarea/tree'">Tree</a
  ><a mat-list-item [routerLink]="'testarea/dnd'">DND</a
  ><a mat-list-item [routerLink]="'testarea/crud'">Firebase</a>
  <a mat-list-item [routerLink]="'testarea/login'">Login</a>
  <a mat-list-item [routerLink]="'project-management'">Project management</a>
</mat-nav-list>
