<form [formGroup]="projectForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="detail-card">
    <mat-card-header>
      <mat-card-title>Project Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Project Name" formControlName="projectName" />
            <mat-error *ngIf="projectForm.controls['projectName'].hasError('required')">
              Project name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Responsible" formControlName="responsible" />
            <mat-error *ngIf="projectForm.controls['responsible'].hasError('required')">
              Responsible is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Start date" formControlName="startDate" />
            <mat-error *ngIf="projectForm.controls['startDate'].hasError('required')">
              startDate is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="End Date" formControlName="finishDate" />
            <mat-error *ngIf="projectForm.controls['finishDate'].hasError('required')">
              finishDate is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
            <mat-error *ngIf="projectForm.controls['notes'].hasError('required')">
              Add some <strong>notes</strong> please.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="projectForm.invalid"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
