.chatWriter {
  overflow: auto;
  height: calc(100%);
}

.contactList {
  background-color: rgb(255, 254, 254);
}

.chatContainer {
  height: calc(100vh - 64px) !important;
  padding: 20px;
}

.writeArea {
  padding: 10px;
}

.noContactSelectedParent{
  display: flex;
  flex-direction: column;
  align-items: self-end;
  height: 100%;
  justify-content: center;
}

.noContactSelected {
  font-size: 18px;
  color: #061221;
  font-style: italic;
  padding: 20px;
  text-align: center;
  display: block;
  width: 100%;
}

.offline {
  background-color: #c7e0e4;
}

.online {
  background-color: #ddff6d;
}

.mat-list .mat-list-item {
  padding: 0 10px;
  border-bottom: 1px solid #eaeaea;
}

.username {
  margin-left: 10px;
}

.online,
.offline {
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.mat-form-field-outline {
  background-color: #fff !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
