.app-container {
  height: calc(100%);
  background-color: #fff;
}

.app-container nav {
  min-width: 200px;
}

nav {
  background-color: #2274a5;
  height: calc(100%);
}

nav a {
  color: #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
}

nav a:hover {
  color: aliceblue;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
